
.layout-navbar {
  box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 4px 6px rgb(0 0 0 / 6%)!important;
}
.bg-red {
  background: #ad1457;
}
.bg-light-color {
  background: #faf9f9;
}
.form-control {
  box-shadow: none!important;
}
.border-bottom-red {
  border-bottom: 5px solid #f8e2e9 !important;
}
.border-bottom-red-small {
  border-bottom: 2px solid #f8e2e9 !important;
}
.border-top-red {
  border-top: 3px solid #f8e2e9 !important;
}
main {
  @include media-breakpoint-up(md) {
    padding: 16px;
  }
  background: #ffffff;
}
.text-red {
  color: red;
}
.list-red {
    li::marker {
      color: $primary;
    }
}
.advert-card-primary {
  border: 1px solid rgb(173 19 87);
}
.text-fs-small {
  font-size: 14px;
}
.text-indent {
  text-indent: 40px;
}

.lovebility-navbar-dropdown-menu {
  width: 300px;
  padding: 10px;
  a {
    text-decoration: none;
    color: #5a6a69;
    font-size: 18px;
  }
  a:hover {
    color: #394442!important;

  }
}
.navbar-test-link {
  background: #fff;
  margin-bottom: 5px;
  padding: 5px;
}
.navbar-test-link:hover {
  background: #e4c4ce;
}

.lovebility-footer {
  .lovebility-footer-block {
        background: #e2c1c1;
  }
  .lovebility-footer-social {
    background: #e8e6e6;
  }
}
