// Body
$body-bg: #f4f5f6;

// Typography
$font-family-sans-serif: 'Comfortaa', Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base: 1rem;
$line-height-base: 1.6;

$primary: #e0eeed;
$form-label-font-size:14px;
$small-font-size:.775em !default;
$input-border-width:1.5px;
